<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IMessengerService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8080/MessengerService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMessengerService"
                contract="MessengerServiceReference.IMessengerService" name="NetTcpBinding_IMessengerService">
                <identity>
                    <userPrincipalName value="Paul-PC\Paul" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>